<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Blog Site</title>
<link th:replace="article/fragments/headLinks">
</head>
<body>
  <div class="container-fluid">
    <h3>Please use the form below to edit an article:</h3>
    <form class="form-group"
      th:action="@{/articles/} + ${article.articleId} + @{/edit}" th:method="put">
      <table class="table">
        <tr>
          <td>Title</td>
          <td><input class="form-control" type="text" autofocus
            th:placeholder="${article.title}" th:field="*{article.title}" /></td>
        </tr>
        <tr>
          <td>Author</td>
          <td><input class="form-control" type="text"
            th:placeholder="${article.author}" th:field="*{article.author}" /></td>
        </tr>
        <tr>
          <td>Entry</td>
          <td><textarea rows="10" class="form-control" style="height: 20em;"
            th:placeholder="${article.entry}" th:field="*{article.entry}"></textarea></td>
        </tr>
      </table>
      <button class="btn btn-sm btn-warning" type="submit">Change it</button>
    </form>  
  </div>
  <script th:replace="article/fragments/scripts"></script>
</body>
</html>
