<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Blog Site</title>
<link th:replace="article/fragments/headLinks">
</head>
<body>
  <div class="container-fluid">
  <div th:replace="article/fragments/navbar"></div>
    <h1>Welcome to my fabulous blog!</h1>
    <h3>Check out the articles on my blog</h3>
    <div class="list-group">
      <div th:each="article:${articles}">
        <span th:text="${article.title}"></span> 
        By: <span th:text="${article.author}"></span>
      </div>
    </div>
  </div>
  <script th:replace="article/fragments/scripts"></script>
</body>
</html>
